<!-- Fixed navbar -->
<nav class="navbar navbar-fixed-top" style="background-color:#F7F7F7;min-height: 84px;padding:0">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand vbless-logo-color" href="#"><img src="images/logo.png" width="70" height="70"/></a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav" style="position:absolute;bottom:0;left:300;text-color:black">
					<li><a href="#" style="color: black;font-size:12px;">COFFEE</a></li>
					<li><a href="#" style="color: black;font-size:12px;">TEA</a></li>
					<li><a href="#menu" style="color: black;font-size:12px;">MENU</a></li>
					<li><a href="#" style="color: black;font-size:12px;">SOCIAL IMPACT</a></li>
					<li><a href="#" style="color: black;font-size:12px;">STARBUCKS REWARDS</a></li>
					<li><a href="#myCards" style="color: black;font-size:12px;">MY CARDS</a></li>
					<li><a href="#" style="color: black;font-size:12px;">BLOG</a></li>
				</ul>

		</div>
	</div>
</nav>
