
<div>
	<br/>
	<br/>
	<div id="banner">
		<img src="images/banner.png" width="100%" height="60%"/>
	</div>

	<div  class="row" id="footer" style="background:black">
		<div  class="col-md-2">
		</div>
		<div  class="col-md-3">
		<br/><br/>
			<img src="images/rewards.png" width="50%" height="10%" align="right"/>
		</div>

		<div  class="col-md-5">
			 <font color="white"><h4 style="padding: .25em;">Make every sip more rewarding</h4>

			 <h6>Join Starbucks Rewards™ to earn Gold level benefits like free drinks and food, <br/>get free refills, pay and order with your phone, and more.</h6>
			 <br/>
			 </font>

			 <button type="button" style="background-color: #D4AF37; text-align: center; text-color:black;border-color: #D4AF37;">&nbsp;&nbsp;&nbsp;Join Now &nbsp;&nbsp;</button>
			 &nbsp;&nbsp;
			 <font color="white">
			 <button type="button" style="background-color: black; text-align: center;" ng-click="gotoLogin()">
				 &nbsp;&nbsp;&nbsp;Sign In  &nbsp;&nbsp;</button>
			 </font>
			 <br/>
			 <br/>
		</div>
	</div>


</div>
