
<div>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<div class="row">
		<div class="col-md-1">
		</div>
		
		<div class="col-md-2">
		<br/><br/><br/>
			<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hot Coffees</h3>
		</div>	
		<div class="col-md-2" align="center">
			<a href="#order"> <img src="images/menu1.png" width="175" height="175"/></a>
			<br/>
			<h5>Caffè Americano</h5>
		</div>	
		<div class="col-md-2"  align="center">
			<img src="images/menu3.png" width="175" height="175"/>
			<br/>
			<h5>Cinnamon Dolce Latte</h5>
		</div>	
		<div class="col-md-2"  align="center">
			<img src="images/menu4.png" width="175" height="175"/>
			<br/>
			<h5>Starbucks Reserve® Latte</h5>
		</div>	
	</div>
	<br/>
	<br/>
	<br/>
	<br/>
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-2">
			<br/><br/><br/>
			<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hot Drinks</h3>
		</div>
		<div class="col-md-2" align="center">
			<img src="images/menu2.png" width="175" height="175"/>
			<br/>
			<h5>White Hot Chocolate</h5>
		</div>	
		</div>	
	</div>
	<br/>
	<div class="row">
			
	</div>
</div>

