
<div>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<div class="row">
		<div class="col-md-1">
		</div>
		
		<div class="col-md-3">
			<br/><br/><br/>
			<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Starbucks Cards</h3>
			<h4 class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Balance: $20.00 </h4>
			<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<button type="button" class="btn btn-success btn-lg"  ng-click="">&nbsp;&nbsp;&nbsp;Add Card&nbsp;&nbsp;</button>
			<a href="#addCard">todo add card </a>
		</div>	

		<div class="col-md-2" align="center">
			<a href="#order"> <img src="images/sb_card.png" width="500" /></a>
			<br/>
		</div>	
	</div>
	
	<div class="row">
		<div class="col-md-1">
		</div>
		
		<div class="col-md-3">
			
		</div>		
	</div>
	
</div>

