
<div>
	<br/>
	<br/>
	<br/>
	<br/>
	<div class="row">
		<div class="col-md-1">
		</div>
		
		<div class="col-md-2">
			<br/><br/><br/><br/><br/><br/>
			<b><h3>Caffè Americano</h3></b>
			<p class="text-muted">Espresso shots are topped with hot water to produce a light layer of crema. The result is this wonderfully rich cup with depth and nuance. Pro tip: for additional caffeine, ask your barista to try this with an extra shot (75 mg caffeine per shot).</p>
			<br/>
			<button type="button" class="btn btn-success btn-lg"  ng-click="">&nbsp;&nbsp;&nbsp;Add to order&nbsp;&nbsp;</button>
			<a href="#reviewOrder">TODO </a>
		</div>	
		<div class="col-md-2" align="center">
			<a href="#order"> <img src="images/cf1.png" width="800"/></a>
			
		</div>	
	
	</div>
</div>

