
<div>
	<br/>
	<br/>
	<br/>
	<br/>
	<div class="row">
		<div class="col-md-1">
		</div>

		<div class="col-md-2">
			<br/><br/><br/><br/><br/><br/>
			<b><h3>Review Order</h3></b>

			<br/>
			<button type="button" class="btn btn-success btn-lg" ng-click="doPay()">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pay&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
		</div>
		<div class="col-md-2" align="center">
			<a href="#order"> <img src="images/order.png" width="800"/></a>

		</div>

	</div>
</div>
